.article__wrapper {
    display: grid;
    grid-template-columns: 100%;
}

.article__intro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.article__image {
    min-width: 320px;
    width: 100% !important;
    object-fit: cover;
}

.article__inner {
    padding: 48px 16px;
    background-color: #E0F6F1;
}

.article__title {
    margin-bottom: 25px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #07484A;
}

.article__text {
    margin-bottom: 41px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #07484A;
}

.article__form {
    display: grid;
    max-width: 525px;
    margin-inline: auto;
}

.article__input {
    margin-bottom: 41px;
    padding: 16px;
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: transparent;

    &::placeholder {
        font-size: 18px;
        line-height: 23px;
        color: #C4C4C4;
    }
}

@media screen and (min-width:768px) {
    .article__inner{
        display: grid;
        padding: 109px 40px;
        gap: 41px;
        place-content: start;
    }
    .article__title, .article__text{
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
    }
    .article__title__wrapper{
        max-width: 200px;
    }
    .article__form{
        margin: 0;
    }
    .article__input{
        position: relative;
        
        width: max(688px, 100%);
    }
    .article__btn{
        width: max-content;
    }
}

@media screen and (min-width:1024px) {
    .article__wrapper {
        grid-template-columns: 50% 50%;
    }

    .article__intro {
        padding: 109px 40px;
        background-image: url("/hero/article.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .article__img{
        display: none;
    }
    .article__input{
        width: 100%;
    }
}