.popular{
  padding-bottom: 200px;
}

.popular__title{
  font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
text-align: center;
color: #07484A;
margin: 0;
margin-bottom: 10px;
}


@media only screen and (min-width:768px){
  .popular__title{
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 80px;
  }
}

@media only screen and (min-width:768px){
  .popular__title{
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 80px;
  }
}


@media only screen and (min-width:1024px){

}


@media only screen and (min-width:1924px){
  
}



